################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Taser/obj/Debug
/packages/StyleCop.Analyzers.1.1.118
/Taser/bin/Debug
